.itemsblock {
    height: 365px; 
    display: flex;  
    color: var(--dark, #161616);
    align-items: center;

    @media (max-width: 420px) {
        flex-wrap: wrap;
    }
    
    h1 {
        font-size: 302px;
        font-weight: 700;
        text-transform: uppercase;    

        @media (max-width:1024px) {
            font-size: 252px;
        }

        @media (max-width: 420px) {
            font-size: 152px;
            padding-top: 150px;
        }
    }

    p {
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 190px; 
        
        @media (max-width:1024px) {
            font-size: 32px;
            padding-top: 160px;
        }
    
        @media (max-width: 420px) {
            font-size: 22p;
            margin-top: -210px;
        }
    }
}