
.section1-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width:800px) {
        display: block;
        margin-bottom: 600px;
    }

    h1 {
        padding-top: 114px;
        color: #161616;
        font-size: clamp(40px, 6vw, 100px);
        font-weight: 800;

        @media (max-width:800px) {
            padding-top: 50px;
        }
    }

    p {
        color: var(--dark, #161616);
        font-size: clamp(14px, 1.6vw, 26px);
        font-weight: 400;
        padding: 40px 0 58px 0;

        @media (max-width: 800px) {
            >br {
                display: none;
            }
        }
    }
}

.section1-span {
    position: absolute;
    white-space: nowrap;
    z-index: -1;

    @media (max-width: 800px) {
        display: none;
    }

    @keyframes run {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    span {
        padding: 10px 30px;
        background: #8F2381;
        color: var(--white, #FFF);
        font-size: clamp(14px, 1.5vw, 24px);
        font-weight: 400;
        display: inline-block;
        animation: run 10s linear infinite;
    }
}

.section1-img {
    position: relative;

    @media (max-width: 800px) {
    }
}

.section1-img1 {
    width: 110%;
    position: absolute;
    top: 50px;
    z-index: -1;
}

.section1-img2 {
    width: 100%;
    position: absolute;
    top: 50px;
}

.section1-img3 {
    width: 100%;
    position: absolute;
    top: 50px;
}

.section1-image {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 160px;
    position: fixed;
    z-index: 1;

    img {
        @media (max-width: 800px) {
            width: 70px;
            height: 70px;
        }

        @media (max-width: 500px) {
            width: 50px;
            height: 50px;
        }
    }
}

.section1-items {
    margin-top: 112px;
    background: rgba(240, 240, 240, 0.80);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 50px 0;
    align-items: center;
    text-align: center;

    @media (max-width: 430px) {
        margin-top: -170px;
    }

    @media (max-width: 375px) {
        margin-top: -240px;
    }

    h1 {
        color: var(--dark, #161616);
        font-size: clamp(26px, 2vw, 50px);
        font-weight: 700;
    }

    p {
        color: var(--dark, #161616);
        font-size: clamp(11px, 1vw, 24px);
        font-weight: 400;
    }
}

.section1-box2 {
    border-right: 1px solid var(--dark, #161616);
}

.section1-box1 {
    border-right: 1px solid var(--dark, #161616);
}