.section5 {
    margin: 100px 0 100px 0;
    color: var(--dark, #161616);

    @media (max-width: 800px) {
        margin: 40px 0 40px 0;
    }

    h1 {
        font-size: clamp(16px, 1.3vw, 32px);
        font-weight: 700;
        line-height: 38.69px;
        text-transform: uppercase;
        padding-bottom: 25px;

        @media (max-width: 800px) {
            >br {
                display: none;
            }
        }
    }

    p {
        font-size: clamp(14px, 1vw, 20px);
        font-weight: 400;
        line-height: 24.26px;
        padding-bottom: 20px;
    }

    h2 {
        text-align: right;
        font-size: clamp(12px, 1vw, 22px);
        font-weight: 600;
        line-height: 26.95px;

        @media (max-width: 800px) {
            >br {
                display: none;
            }
        }

        @media (max-width: 800px) {
            text-align: start;
            padding-bottom: 20px;
        }
    }

    .section5-items {
        display: flex;
        justify-content: space-between;

        @media (max-width: 800px) {
            display: block;
        }
    }

    .section5-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        @media (max-width: 800px) {
            display: block;
        }

        img {
            width: 100%;
            margin-top: -80px;

            @media (max-width: 800px) {
                margin-top: 20px;
            }
        }
    }
}