* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 47px 100px 0 100px; */


  @media (max-width: 1024px) {
    max-width: 1024px;
    /* padding: 25px 30px; */
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  body {
    max-width: 420px;
    /* padding: 14px 20px; */
    margin: 0 auto;
  }
}