* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.wrap{
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  padding: 0 100px 0 100px;

  @media (max-width: 800px) {
    width: 90%;
    max-width: 500px;
    padding: 25px 30px;
    margin: 0 auto;
  }
}