.section3 {
    background: var(--gray, #F0F0F0);
    padding: 100px 0;

    .page {
    position: relative;
    }

    .section3-img2 {
        position: absolute;
        left: -75px;
        top: 400px;

        @media (max-width:375px) {
            top: 600px;
        }
    }

    .section3-img3 {
        position: absolute;
        right: 0;
        bottom: 0;

        @media (max-width: 670px) {
            width: 489px;
        }
    }

        span {
            white-space: nowrap;
            color: var(--dark, #161616);
            font-size: clamp(22px, 3vw, 50px);
            font-weight: 700;
            text-transform: uppercase;
        }

    .section3-item {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .section3-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}